html {
  height: 100%;
}
.home-outer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 2em;
  padding: 0em 2em;
  width: 49em;
  margin: 1em auto;
}
.home-button {
  color: black !important;
  background-color: #ffffff00 !important;
  border-radius: 8em !important;
  padding: 1em 0em !important;
  border: 1px solid black !important;
  width: 10em;
  margin: 0em 0em 0em 4em !important;
  text-transform: lowercase;
}

.App {
  box-shadow: inset 0em 0em 10em 0em #00000033;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.home-second-button-wrapper {

}

.home-data-card {
  padding: 20px;
}

.MuiButton-containedPrimary-27 {
  color: #fff;
  background-color: #c74242ab !important;
  width: 16em;
  margin: 0em 0em 1em 0.5em !important;
}

.SITE-BUTTONS {
  color: #fff;
  background-color: #c74242ab !important;
  width: 16em;
  margin: 0em 0em 1em 0.5em !important;
}

span.MuiButton-label-16 {
  color: #fff;
  background-color: #d1a4a43d !important;
  width: 16em;
  margin: 0em 0em 1em 0.5em !important;
}

a {
  text-decoration: none;
}

.text-fields-crowd {
  display: flex;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 2em auto;
  color: white;
  padding: 2em 20em;
  background-color: white;
  border-radius: 2em;
  box-shadow: 0em 1.1em 1.5em 0.4em #00000047;
}

button.MuiButtonBase-root-29.MuiButton-root-3.MuiButton-contained-14.MuiButton-containedPrimary-15.MuiButton-raised-17.MuiButton-raisedPrimary-18.SITE-BUTTONS {
  color: #fff;
  background-color: #c74242ab !important;
  width: 16em;
  margin: 0em 0em 1em 0.5em !important;
}

button.MuiButtonBase-root-29.MuiButton-root-3.MuiButton-contained-14.MuiButton-containedPrimary-15.MuiButton-raised-17.MuiButton-raisedPrimary-18.CrowdsourceButton-button-1 {
  color: #fff;
  background-color: #c74242ab !important;
  width: 16em;
  margin: 0em 0em 1em 0.5em !important;
}

h1.title.is-1 {
  color: black;
  font-size: 8em;
}

h1.subtitle.is-4 {
  color: black;
  font-size: 1.5em;
  padding-left: 3.3em;
}

.home-second-button-wrapper {
  margin: 0em 18em;
}